package components

templ CardList() {
<div class="overflow-hidden bg-white shadow sm:rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    { children... }
  </ul>
</div>
}

templ Card() {
<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    { children... }
  </div>
</div>
}

templ CardItem() {
<div class="px-4 py-5 sm:p-6">
  { children... }
</div>
}
